// COLORS
$primary-color: #FF5F6D;
$secondary-color: #FFC371;

$white-color: #FFFFD6;

$dark-grey: #0F1A20;
$light-grey: #88A2AA;

$dark-blue-text: #16001E; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
