// COLORS
$primary-color: #8D6A9F;
$secondary-color: #BDA8C7;

$white-color: #B7D1DA;

$dark-grey: #384D48;
$light-grey: #B7D1DA;

$dark-blue-text: #16001E; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
