// COLORS
$primary-color: #FF5F6D;
$secondary-color: #FFC371;

$white-color: #FFFFD6;

$dark-grey: #0F1A20;
$light-grey: #88A2AA;

$dark-blue-text: #16001E; // For Headings

// $primary-color: #4A6D7C;
// $secondary-color: #8E5572;

// $white-color: #E8B9AB;

// $dark-grey: #201335;
// $light-grey: #ADBCA5;

// $dark-blue-text: #16001E; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
